
.image{
    position: relative;
    height: 60vh;
    color: rgb(157, 215, 238);
}

@media (min-width: 1280px) {
.MuiContainer-maxWidthLg {
    max-width: 100% !important;
    
}
}
@media (max-width: 1280px) {
    .MuiContainer-maxWidthLg {
        min-width: 100% !important;
        
    }
    }